# Dependencias
node_modules/
package-lock.json
yarn.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de entorno de tiempo de ejecución
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Directorios y archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Directorios y archivos de IDE/Editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln